.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._形状 {
}
._图片 {
}
._一级标题 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
._二级标题 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
._三级标题 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.827450980392157);
  text-align:center;
}
._四级标题 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
._五级标题 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
._六级标题 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
._文本链接 {
  color:#0000FF;
}
.line {
}
.placeholder {
}
.text_field {
  color:#000000;
  text-align:left;
}
._流程形状 {
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._图片1 {
  color:#000000;
}
._文本段落1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
._形状1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F5F5F5;
  text-align:center;
}
._水平线 {
}
._默认样式 {
}
._文本链接1 {
  color:#0000FF;
}
.image {
}
._默认样式1 {
}
.image1 {
}
._形状2 {
}
.icon {
}
._连接线 {
}
